name: "Terraform Teardown"

on:
  workflow_dispatch:
    inputs:
      confirmation:
        description: 'To prevent accidents, type "DESTROY" to confirm'
        required: true
        type: string

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init

      - name: Conditional Destroy
        if: github.event.inputs.confirmation == 'DESTROY'
        run: terraform destroy -auto-approve

      - name: Security Alert
        if: github.event.inputs.confirmation != 'DESTROY'
        run: |
          echo "::error::Destroy cancelled. Confirmation string did not match 'DESTROY'."
          exit 1